parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$object(_or_class)? of function method_exists expects object\\|string, ArrayIterator\\|bool\\|Laminas\\\\Http\\\\Header\\\\HeaderInterface\\|Laminas\\\\Http\\\\Headers given\\.$#"
			count: 1
			path: src/OAuth2/LaminasHttpPhpEnvironmentBridge/Request.php

		-
			message: "#^Parameter \\#1 \\$headers of method Laminas\\\\Http\\\\AbstractMessage\\:\\:setHeaders\\(\\) expects Laminas\\\\Http\\\\Headers, ArrayIterator\\|bool\\|Laminas\\\\Http\\\\Header\\\\HeaderInterface\\|Laminas\\\\Http\\\\Headers given\\.$#"
			count: 1
			path: src/OAuth2/LaminasHttpPhpEnvironmentBridge/Request.php

