parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$cookie of method Laminas\\\\Http\\\\PhpEnvironment\\\\Request\\:\\:setCookies\\(\\) expects array\\<string, string\\>\\|string, bool\\|Laminas\\\\Http\\\\Header\\\\Cookie given\\.$#"
			count: 1
			path: src/OAuth2/LaminasHttpPhpEnvironmentBridge/Request.php

		-
			message: "#^Parameter \\#1 \\$headers of method Laminas\\\\Http\\\\AbstractMessage\\:\\:setHeaders\\(\\) expects Laminas\\\\Http\\\\Headers, ArrayIterator\\|bool\\|Laminas\\\\Http\\\\Header\\\\HeaderInterface\\|Laminas\\\\Http\\\\Headers given\\.$#"
			count: 1
			path: src/OAuth2/LaminasHttpPhpEnvironmentBridge/Request.php

